
@using Humanizer
@using Models
@rendermode InteractiveServer

<tr id="todo_@(todo.Id)">
  <th scope="row">@todo.Id</th>
  <td>@todo.Title</td>
  <td>@todo.Description</td>
  <td><span>@todo.CreatedAt.Humanize()</span></td>
  <td></td>
</tr>

@code {
  [Parameter] public required ToDo todo { get; set; }

  private void ToggleComplete() {
    todo.Complete = !todo.Complete;
  }
}