.horizontal {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.horizontal h2, .horizontal p {
    padding: 0;
    margin: 0;
}

.space-between {
    justify-content: space-between;
}

.todo_list .hoverable:hover {
    background: #dddddd;
}

.crossed_out {
    text-decoration: line-through;
    color: #929292;
}
tbody .hoverable {
    transition: transform 0.1s ease-in-out;
}

.hoverable:hover {
    transform: scale(102%);
    filter: brightness(110%);
}