@page "/edittask"
@inject NavigationManager NavigationManager
@inject TasksClient TasksClient

<PageTitle>New Task</PageTitle>

<div class="row px-4 justify-content-center">
  <div class="col-md-3 center">
    <h3>New Task</h3> 
    <EditForm Model="@task" FormName="editTask" OnValidSubmit="HandleSubmit">
      <DataAnnotationsValidator />
      <div class="mb-3">
        <InputText id="title" placeholder="Title" @bind-Value="task.Title" class="form-control bg-dark text-white" />
        <ValidationMessage For="() => task.Title"/>
      </div>
      <div class="mb-3">
        <InputTextArea id="description" placeholder="description" @bind-Value="task.Description"
          class="form-control bg-dark text-white" />
      </div>
      <div class="mb-3">
        <InputSelect id="priority" @bind-Value="task.Priority" class="form-select bg-dark text-white">
          <option value="">Select a priority</option>
          <option class="bg-danger" value="High">High</option>
          <option class="bg-warning" value="Medium">Medium</option>
          <option class="bg-success" value="Low">Low</option>
        </InputSelect>
        <ValidationMessage For="() => task.Priority"/>
      </div>
      <div class="d-flex flex-row gap-1">
        <a class="btn btn-danger w-25" role="button" href="/">Cancel</a>
        <button type="submit" class="btn btn-success w-75">Add Task</button>
      </div>
    </EditForm>
  </div>
</div>
@code {
  [SupplyParameterFromForm]
  private Models.Task task { get; set; } = new()
  {
    Title = "",
    Priority = ""
  };

  private List<Models.Task>? tasks;

  protected override void OnInitialized()
  {
    tasks = TasksClient.GetTasks();
  }

  private void HandleSubmit() 
  {
    TasksClient.AddTask(task);
    NavigationManager.NavigateTo("/");
  }
}