@page "/"
@rendermode InteractiveServer

<PageTitle>Todo List</PageTitle>

<div class="px-3">
  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="bg-primary">Task ID</th>
        <th scope="col" class="bg-primary">Name</th>
        <th scope="col" class="bg-primary">Description</th>
        <th scope="col" class="bg-primary">Priority</th>
        <th scope="col" class="bg-primary">Created At</th>
        <th scope="col" class="bg-primary">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if(tasks is null) {
        <p>Loading...</p>
      } else {
        @foreach (var task in tasks)
        {
          <TaskView
            task="@task"
          />
        }
      }
    </tbody>
  </table>
</div>

@code {
    private TasksClient client = new();
    private Models.Task[]? tasks;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        tasks = client.GetTasks();
    }
}