@page "/"
@rendermode InteractiveServer

@using Models
@using ToDo.FrontEnd.Clients
@using ToDo.FrontEnd.Components.Layout

<PageTitle>Todo List</PageTitle>

<div class="px-3">
  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="bg-primary">Task ID</th>
        <th scope="col" class="bg-primary">Name</th>
        <th scope="col" class="bg-primary">Description</th>
        <th scope="col" class="bg-primary">Priority</th>
        <th scope="col" class="bg-primary">Created At</th>
        <th scope="col" class="bg-primary">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if(toDos is null) {
        <p>Loading...</p>
      } else {
        @foreach (var todo in toDos)
        {
          <ToDoView 
            todo="@todo"
          />
        }
      }
    </tbody>
  </table>
</div>

@code {
    private ToDosClient client = new();
    private ToDo[]? toDos;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        toDos = client.GetToDos();
    }
}