@page "/"
@rendermode InteractiveServer

@using Models
@using ToDo.FrontEnd.Clients
@using ToDo.FrontEnd.Components.Layout

<PageTitle>Todo List</PageTitle>

<table class="px-1 table table-hover table-bordered table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @if(toDos is null) {
      <p>Loading...</p>
    } else {
      @foreach (var todo in toDos)
      {
        <ToDoView 
          todo="@todo"
        />
      }
    }
  </tbody>
</table>

@code {
    private ToDosClient client = new();
    private ToDo[]? toDos;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        toDos = client.GetToDos();
    }
}