@page "/task_form/new"
@page "/task_form/{Task_Id:int}"
@inject NavigationManager NavigationManager
@inject TasksClient TasksClient
@rendermode InteractiveServer

<PageTitle>@pageTitle</PageTitle>

<div class="row px-4 justify-content-center">
  <div class="col-md-7 center">
    <h3>@pageTitle</h3> 
    <EditForm Model="@task" FormName="editTask" OnValidSubmit="HandleSubmit">
      <DataAnnotationsValidator />
      <div class="mb-3">
        <InputText id="title" placeholder="Title" @bind-Value="task.Title" class="form-control bg-dark text-white" />
        <ValidationMessage For="() => task.Title"/>
      </div>
      <div class="mb-3">
        <InputTextArea id="description" placeholder="description" @bind-Value="task.Description"
          class="form-control bg-dark text-white" />
      </div>
      <div class="mb-3">
        <InputSelect 
          id="priority" 
          @bind-Value="task.Priority.Value" 
          class="form-select bg-dark text-white"
        >
          <option value="">Select a priority</option>
          <option class="bg-danger" value="High">High</option>
          <option class="bg-warning" value="Medium">Medium</option>
          <option class="bg-success" value="Low">Low</option>
        </InputSelect>
        <ValidationMessage For="() => task.Priority"/>
      </div>
      <div class="d-flex flex-row gap-1">
        <a class="btn btn-danger w-25" role="button" href="/">Cancel</a>
        <button type="submit" class="btn btn-success w-75">@(Task_Id.HasValue ? "Update Task" : "Add Task")</button>
      </div>
    </EditForm>
  </div>
</div>
@code {
  [Parameter]
  public int? Task_Id { get; set; }

  [SupplyParameterFromForm]
  private Models.Task task { get; set; }
  private Models.Priority task_priority;
  private string pageTitle;

  protected override void OnParametersSet()
  { 
    if(task is not null) {
      return;
    } 
    if (Task_Id.HasValue) {
      var existingTask = TasksClient.GetTaskById(Task_Id.Value);
      if (existingTask is not null) {
        task = existingTask;
        task.Id = Task_Id.Value;
        pageTitle = "Edit Task";
  }
    } else {
      pageTitle = "New Task";
      task = new()
          {
            Title = "",
            Priority = new Priority{Value="High"}
          };
    }
  }

  private void HandleSubmit() 
  {
    if (Task_Id is null) {
      TasksClient.AddTask(task);
    } else {
      TasksClient.UpdateTask(task);
    }
    NavigationManager.NavigateTo("/");
  }
}