/* _content/ToDo.FrontEnd/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-7bi90t7s5k] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-7bi90t7s5k] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/ToDo.FrontEnd/Components/Layout/TaskView.razor.rz.scp.css */
.horizontal[b-mvnsz3w1oo] {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.horizontal h2[b-mvnsz3w1oo], .horizontal p[b-mvnsz3w1oo] {
    padding: 0;
    margin: 0;
}

.space-between[b-mvnsz3w1oo] {
    justify-content: space-between;
}

.todo_list .hoverable:hover[b-mvnsz3w1oo] {
    background: #dddddd;
}

.crossed_out[b-mvnsz3w1oo] {
    text-decoration: line-through;
    color: #929292;
}
tbody .hoverable[b-mvnsz3w1oo] {
    transition: transform 0.1s ease-in-out;
}

.abbreviate_text[b-mvnsz3w1oo] {
    min-width: 15rem;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.abbreviate_text:hover[b-mvnsz3w1oo] {
    white-space: wrap;
    overflow: scroll;
}
.hoverable:hover[b-mvnsz3w1oo] {
    transform: scale(102%);
    filter: brightness(110%);
}
