.horizontal[b-mvnsz3w1oo] {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.horizontal h2[b-mvnsz3w1oo], .horizontal p[b-mvnsz3w1oo] {
    padding: 0;
    margin: 0;
}

.space-between[b-mvnsz3w1oo] {
    justify-content: space-between;
}

.todo_list .hoverable:hover[b-mvnsz3w1oo] {
    background: #dddddd;
}

.crossed_out[b-mvnsz3w1oo] {
    text-decoration: line-through;
    color: #929292;
}
tbody .hoverable[b-mvnsz3w1oo] {
    transition: transform 0.1s ease-in-out;
}

.abbreviate_text[b-mvnsz3w1oo] {
    min-width: 15rem;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.abbreviate_text:hover[b-mvnsz3w1oo] {
    white-space: wrap;
    overflow: scroll;
}
.hoverable:hover[b-mvnsz3w1oo] {
    transform: scale(102%);
    filter: brightness(110%);
}